body{
    background-color: #75c1bf;
}
#header{
    color: white;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    width: 100%;
    margin: auto;
}
#login{
    background-color: black;
    height: 100px;
    width: 20%;
    float: left;
    text-align: center;
}
#login ul li{
    background-color: black;
    float: left;
    text-align: center;
}
ul, ul li {
	list-style: none;
    text-align: center;
}
li.link{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    transition-property: font-size;
    transition-duration: 1s;
}
li.link:hover{
    color: blue;
    text-shadow: 2px 2px 8px blue;
    font-size: 120%;
}
img{
    clear: both;
}
a{
    text-decoration: none;
}