body{
    background-color: #75c1bf;
}
#header{
    color: white;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-bottom: 40px;
}
#login{
    text-align: center;
    margin: auto;
    padding: auto;
    width: 100%;
}
#login ul{
    background-color: black;
}
ul, ul li {
	display: block;
	list-style: none;
	margin: auto;
	padding: auto;
    text-align: center;
}

ul li {
	float: left;
    text-align: center;
}
h1.link{
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    transition-property: font-size;
    transition-duration: 1s;
}
h1.link:hover{
    color: blue;
    text-shadow: 2px 2px 8px blue;
    font-size: 220%;
}
img{
    clear: both;
    width: 32%;
}
a{
    text-decoration: none;
}