body{
    background-color: #75c1bf;
}
#header{
    color: white;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    width: 100%;
    margin: auto;
}
#login{
    background-color: black;
    height: 100px;
    width: 45%;
    float: left;
    text-align: center;
}
#login ul li{
    float: left;
    text-align: center;
}
ul, ul li {
	list-style: none;
    text-align: center;
}
li.link{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    text-align: center;
    transition-property: font-size;
    transition-duration: 1s;
}
li.link:hover{
    color: blue;
    font-size: 110%;
}
img{
    text-align: center;
    clear: both;
}
a{
    text-decoration: none;
}
#p-snake-info{
    text-align:center;
    font-size:130%;
}
#img{
    float: left;
    width: 15%;
    margin:auto;
    text-align:center;
}
#poczatek{
    clear: both;
    width: 70%;
    text-align:center;
}
#h1{
    text-align: center;
}
body{
    background-color: #75c1bf;
}