body{
    background-color: #75c1bf;
}
#header{
    color: white;
    background-color: black;
    text-align: center;
    border-radius: 50px;
    width: 40%;
    margin: auto;
    box-shadow: 10px 10px 8px blue;
}
form{
    margin: auto;
    width: 60%;
    text-align: center;
    font-size: 150%;
    box-shadow: 16px 16px 32px blue
    -16px -16px 32px blue;
}
a{
    text-align: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #75c1bf;
    min-height: 100vh;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    width: 300px;
    flex-direction: column;
    gap: 35px;
    border-radius: 15px;
    background: #e3e3e3;
    box-shadow: 16px 16px 32px #c8c8c8,
    -16px -16px 32px #fefefe;
}