* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-align: center;
}
h3{
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: rgb(27, 27, 27);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #75c1bf;
    min-height: 100vh;
}
.card form{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    width: 400px;
    flex-direction: column;
    gap: 35px;
    border-radius: 15px;
    background: #75c1bf;
    box-shadow: 16px 16px 32px #518785,
    -16px -16px 32px #bae0df;
}
.inputBox{
    position: relative;
    width: 300px;
}
.inputBox input{
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: rgb(27, 27, 27);
    font-size: 1em;
    background: transparent;
    border-bottom: 2px solid #3a605f;
    border-left: 2px solid #3a605f;
    transition: 0.1s;
}
.inputBox span{
    margin-top: 5px;
    position: absolute;
    left: 0;
    transform: translateY(-4px);
    margin-left: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: rgb(27, 27, 27);
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
}
/*
Dodatkowe opcje animacji
*/
.inputBox input:valid~span,
.inputBox input:focus~span{
    transform: translateX(113px) translateY(-15px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #3a605f;
    letter-spacing: 0.2em;
    color: #fff;
    border: 2px;
}

.inputBox input:valid,
.inputBox input:focus{
    border: 2px solid #3a605f;
}

button{
    height: 45px;
    width: 200px;
    border-radius: 5px;
    border: 2px solid #3a605f;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
}
button:hover{
    background-color: #3a605f;
    color: white;
}