#p-snake-info{
    text-align:center;
    font-size:130%;
}
#img{
    margin:auto;
    text-align:center;
}
#poczatek{
    text-align:center;
}
#h1{
    text-align: center;
}
body{
    background-color: #75c1bf;
}