body{
    background-color: #75c1bf;
}
#header{
    color: white;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 80px;
    text-align: center;
    width: 100%;
    font-family: rubik,sans-serif;
}#header h2{
    text-transform: uppercase;
    font-size: 200%;
}
#info{
    width: 40%;
    margin: auto;
    font-size: 150%;
    padding-top: 100px;
    text-align: center;
}
#game{
    float: left;
    width: 50%;
}
canvas #canvas{
    border: 1px solid black;
}